In [5]:
import pandas as pd
data=pd.read_csv("/content/Second_Hand_Car_Price_Dataset.csv")

print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Car_ID             25 non-null     int64
 1   Brand              25 non-null     object
 2   Model              25 non-null     object
 3   Year               25 non-null     int64
 4   Fuel_Type          25 non-null     object
 5   Transmission       25 non-null     object
 6   Kilometers_Driven  25 non-null     int64
 7   Owner_Type         25 non-null     object
 8   Mileage_kmpl       25 non-null     int64
 9   Engine_cc          25 non-null     int64
 10  Power_bhp          25 non-null     int64
 11  Seats              25 non-null     int64
 12  Price_Lakhs        25 non-null     float64
dtypes: float64(1), int64(7), object(5)
memory usage: 2.7+ KB
None

In [15]:
data1=pd.read_excel("/content/Book1.xlsx")
# print(data1.info())
# print(data1.describe())
# data1.drop("Blank_Column",axis=1,inplace=True)
# del data1["Name"]
# data1.drop(data1.columns[0],axis=1,inplace=True)
# print(data1.info())
data1.to_excel("/content/Book1.xlsx")
print(data1.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Category          100 non-null    object
 1   Followers         100 non-null    int64
 2   Engagement_Rate   46 non-null     float64
 3   Country           100 non-null    object
 4   Join_Date         100 non-null    datetime64[ns]
 5   Monthly_Earnings  55 non-null     float64
 6   Sponsored_Posts   100 non-null    int64
 7   Verified          100 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(2), object(3)
memory usage: 6.4+ KB
None